<header mdl>
  <div class="showcase login-section">
    <center class="vertical-center">
      <h1>tumblr.</h1>
      Come for what you love<br>
      Stay for what you discover<br>
      <div style="width:298px;">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored btn-size">
          Get Started
        </button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored btn-size">
          Log in
        </button>
      </div>
    </center>
  </div>
</header>
