.showcase{
  height: 100%;
  width: 100%;
  color: white;
  overflow: hidden;
  transition: 2s;
}

.login-section{
  z-index: 6;
  background-color: grey;
}

.vertical-center{
  position: relative;
  top: 25%;
}

.old-sec{
  transform: translateY(-100%);
}

.btn-size{
  width: 298px;
  height: 32px;
  margin-top: 10px;
  margin-bottom:10px;
}
