.showcase{
  height: 100%;
  width: 100%;
  color: white;
  overflow: hidden;
  transition: 1s;
}

.login-section{
  position:absolute;
  z-index: 6;
  background-color: grey;
}

.about-section{
  position:absolute;
  z-index: 5;
  background-color: green;
}

.blogs-section{
  position:absolute;
  z-index: 4;
  background-color: red;
}

.dashboard-section{
  position:absolute;
  z-index: 3;
  background-color: blue;
}

.create-section{
  position:absolute;
  z-index: 2;
  background-color: yellow;
}

.welcome-section{
  position:absolute;
  z-index: 1;
  background-color: black;
}

.vertical-center{
  position: relative;
  top: 25%;
}

.old-sec{
  transform: translateY(-100%);
}

.btn-size{
  width: 298px;
  height: 32px;
  margin-top: 10px;
  margin-bottom:10px;
}
